html{
    scroll-behavior: smooth;
    background-image: url(https://pixelcefetmg.files.wordpress.com/2013/06/sidon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    
}

    

body{
    margin: 0%;
    color: azure;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
main{
    margin: 2.5%;
    display: flex;
    color: azure;

}
h1{
    text-align: center;
    color: azure;

}

p{
    font-size: larger;
    text-align: justify;
    margin: 5%; 
    color: azure;
    border: 5px black solid;
    padding: 2.5%;
    border-radius: 25px;
    background-color: rgba(14, 13, 13, 0.726)
}

footer{
    border-top: 1px solid black;
}

h2{
    text-align: center;
}

input{
    margin-top: 3%;
}

section{
    margin: 5%;
    border: 5px black solid;
    padding: 2.5%;
    border-radius: 25px;
    background-color: rgba(14, 13, 13, 0.726);

}

button{
    margin: auto;
    margin-top: 10px;
    padding: 2.5%;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display:flex;
    justify-content: center;
    

}
#enunciado{
    width:40%;
}
#calculo{
    width:40%;
}
button:hover{
    background-color: rgb(200, 186, 129);
    font-weight: bolder;
    
}

.botaoRGB {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.botaoRGB:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: rgbDinamico 15s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.botaoRGB:active 
{
    color: #000
}

.botaoRGB:active:after 
{
    background: transparent;
}

.botaoRGB:hover:before 
{
    opacity: 1;
}

.botaoRGB:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes rgbDinamico {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}